body {
  font-family: 'IBM Plex Sans', monospace;
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: block !important;
  }
}

.desktop-only {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.desktop-animation {
  display: inline-block;
  transition: transform 0.3s ease;
}

@media (min-width: 992px) {
  .desktop-animation:hover {
    transform: scale(1.2);
  }
}

.sidebar {
  background-color: #32404a;
  color: #ffffff;
  padding: 20px 30px 20px 40px !important;
}

.sidebar h3 {
  font-size: 30px;
}

.content {
  padding: 20px 30px !important;
}
