body {
  font-family: 'IBM Plex Sans', monospace;
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: block !important;
  }
}

.desktop-only {
  display: none;
  @media (min-width: 768px) {
    display: block; /* แสดง element เมื่ออยู่ในขนาด desktop */
  }
}

.sidebar {
  background-color: #32404a;
  color: #ffffff;
  padding: 20px 30px 20px 40px !important;
}

.sidebar h3 {
  font-size: 30px;
}

.content {
  padding: 20px 30px !important;
}
